/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}








html{
  background:lightblue;
  background-attachment:fixed;
}


body{
  background:transparent;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction:column;
}

h1{
  display:flex;
  align-self: center;
  font-family: 'Lobster', cursive;
}

#app{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row;
  font-family:courier;
}

#box{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:column;
}

#app-creator{
  display:flex;
  font-size: 10px;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  transform: rotate(-90deg);
  transform-origin: top right;
  margin-right: 1.5em;
}
